.social-media-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: hsl(0,0%,0%);
    border-radius: 0 0 8px 8px;
    padding: 10px;
}

.facebook{
    padding: 0 0.5vw;
    width: 3.5vh;
    height: 3.5vh;
}

.linkedin{
    padding: 0 0.5vw;
    width: 3.5vh;
    height: 3.5vh;
}

.github{
    padding: 0 0.5vw;
    width: 3.5vh;
    height: 3.5vh;
}

.instagram{
    padding: 0 0.5vw;
    width: 3.5vh;
    height: 3.5vh;
}

