.form-button{
    height: 5vh;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 3vh;
}

.meme{
    padding: 10%;
}

.form-input{
    height: 5vh;
    width: 45%;
    border-radius: 5px;
    text-indent: 5px;
    border: 1px solid #D5D4D8;
}

.meme-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.meme-display{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
}

.top-text{
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 50;
    top: -42vh;
    font-family: impact, sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
            2px 2px 0 #000,
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            0 2px 0 #000,
            2px 0 0 #000,
            0 -2px 0 #000,
            -2px 0 0 #000,
            2px 2px 5px #000;
}

.bottom-text{
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 50;
    bottom: 12vh;
    font-family: impact, sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
            2px 2px 0 #000,
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            0 2px 0 #000,
            2px 0 0 #000,
            0 -2px 0 #000,
            -2px 0 0 #000,
            2px 2px 5px #000;
}

.inputs{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}