.nav-bar{
    background-color: #d9e2fd;
    width: 100%;
    border-radius: 18px 18px 0 0;
}

.nav-title {
    display: flex;
    align-items: flex-start;
    font-family: "Dubai Light", serif;
    color: hsl(0, 0%, 0%);
    text-indent: 20px;
}